@media (max-width: 1920px) {
    .hero__tp-row {
        padding: 0 40px;
    }

    .hero__image__slide .side-txt {
        bottom: 85px;
    }
}

@media (max-width: 1600px) {
    .hero-section .container {
        max-width: 1360px;
    }

    .hero__content .h1 {
        font-size: 72px;
        margin: 0 0 26px;
    }

    .hero__content .h1 .hr-h1-shape {
        top: 103px;
        left: 575px;
    }

    .hero__image__slide.eight {
        margin-right: -251px;
        padding-left: 30px;
    }

    .hero__image__slide .side-txt {
        bottom: 40px;
    }
}

@media (min-width: 1366px) and (max-width: 1449px) {
    .hero__tp-row {
        padding: 0 20px;
    }

    .hero__image__slide .img {
        padding: 0 20px;
    }

    .hero__image__slider {
        margin-top: -82px;
        --extra-width: 22px;
        --ex-right-width: 30px;
    }

    .hero__image__slide.eight {
        margin-right: -197px;
        padding-left: 10px;
    }

}

@media (max-width: 1400px) {
    .hero-section .container {
        max-width: 1230px;
    }

    .hero__image__slide .side-txt {
        bottom: 25px;
    }

    .hero__image__slide.eight {
        margin-right: -179px;
        padding-left: 10px;
    }

    .hero__content .h1 {
        font-size: 65px;
        margin: 0 0 25px;
    }

    .hero__content .h1 .hr-h1-shape {
        top: 101px;
        left: 518px;
        width: 40px;
    }

    .hero__content h4 {
        font-size: 23px;
        margin: 6px 0 28px;
    }

    .a-btn {
        font-size: 18px;
    }

}

@media (min-width: 1200px) and (max-width: 1366px) {
    .hero-section .container {
        max-width: 100%;
        padding-left: 39px;
        padding-right: 39px;
    }

    .hero__image__slide.eight {
        margin-right: -180px;
        padding-left: 24px;
    }

    .hero__content {
        max-width: 560px;
    }

    .hero__tp-row {
        padding: 0 45px;
    }

    .hero__image__slider {
        margin-top: -100px;
        --extra-width: 10px;
        --ex-right-width: 3px;
    }

    .hero-section {
        padding-top: 65px;
    }

    .hero__content .h1 {
        font-size: 60px;
    }

    .hero__content .h1 .hr-h1-shape {
        top: 85px;
        left: 475px;
    }

    .hero__image__slide .img {
        padding: 0 30px;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .hero__image__slide .img {
        padding: 0 10px;
    }

    .hero-section .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 1199px) {
    .hero-section .container {
        max-width: 960px;
    }

    .hero__image__slide.seven {
        margin-right: -30px;
        margin-top: -30px;
    }

    .hero__image__slide.eight {
        margin-right: -177px;
        padding-left: 34px;
    }

    .hero__content .h1 {
        font-size: 56px;
        margin: 0 0 18px;
    }

    .hero__content h4 {
        font-size: 21px;
        margin: 5px 0 23px;
    }

    .a-btn {
        font-size: 16px;
    }

    .hero__content .h1 .hr-h1-shape {
        top: 83px;
        left: 445px;
        width: 32px;
    }


    .about-hero__content .h1 {
        font-size: 50px;
        margin: 0 0 20px;
    }
    .about-hero__content .h1 .spc-1 img {
        bottom: -17px;
    }
    .about-hero__content .h4 {
        margin-bottom: 17px;
    }
    .about-hero__content .p {
        margin-bottom: 18px;
    }
    .p {
        font-size: 16px;
    }
    .about-hero__content {
        padding-right: 50px;
    }

    .h2-b {
        font-size: 52px;
        margin: 0 0 17px;
    }
    .team-members {
        grid-template-columns: repeat(3,1fr);
        grid-gap: 18px 16px;
        max-width: 550px;
    }
    .team-section {
        padding: 120px 0;
    }


    .h3 {
        font-size: 39px;
        margin-bottom: 27px;
    }
    .it__content__left_bdr::before {
        left: -15px;
        border-width: 4px;
    }
    .it__content__left_bdr::after {
        height: 19px;
        width: 19px;
        top: -4px;
        left: -23px;
    }
    .it-section {
        padding: 50px 0;
    }
    .it__content {
        padding: 30px;
    }


    
    .bxn-section {
        padding: 60px 0;
    }
    .bxn .row {
        --bs-gutter-x: 40px;
    }
    .bxn {
        padding: 60px 63px;
    }
    .s-hero__content {
        margin-top: 70px;
    }

    .h2 {
        font-size: 50px;
        margin: 0 0 16px;
    }
    .case-card .row {
        --bs-gutter-x: 70px;
    }


    .case-card-wrap > .row {
        --bs-gutter-x: 50px;
    }
}

/* 
@media (max-width: 1199px) {
    .hero-section .container {
        max-width: 1540px;
    }
} */

@media (max-width: 1199px) {
    .hero__image__slider {
        --extra-width: 28px;
        --ex-right-width: 30px;
    }

    .good__left__header h3 .shape {
        width: 167px;
        top: 50px;
    }

    .good__left {
        padding-right: 0;
    }


    .menu-button {
        right: 0px;
    }
    .kunan__bottom {
        margin-top: 33px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .title-hero__content .h1 {
        font-size: 75px;
        margin: 0 0 25px;
    }
    .thc-txr {
        gap: 80px;
    }
    .thc-txr .txt p {
        font-size: 16px;
    }
    .title-hero {
        padding: 100px 0 60px; 
    }
    .stp-section {
        padding: 80px 0;
    }
    .a-sec-txt {
        margin: 60px 0;
    }
    .contact-li-title_l .h2 {
        font-size: 60px;
        margin-bottom: 30px;
    }

}


@media (max-width: 991px) {
    .hero__image__slide.seven {
        margin-right: 0;
        margin-top: 0;
    }

    .footer-muskot-area {
        padding: 158px 0 150px;
    }

    .footer-muskot {
        width: 250px;
    }
    .hero__image__slide.two {
        margin-right: -0;
        margin-top: -46px;
    }
    .hero__image__slide.eight {
        margin-right: 0;
        padding-left: 34px;
    }

    .hero__content {
        padding: 40px 0 87px;
        max-width: 500px;
    }

    .hero-section .container {
        max-width: 720px;
    }

    .hero__content h4 {
        font-size: 19px;
        margin: 5px 0 23px;
    }


    .about-hero__image {
        height: 500px;
        width: calc(100vw + 2px);
        margin-left: calc((50vw - 50% + 1px) * -1);
    }
    .about-hero__content {
        padding: 50px 0;
    }
    .h2-b {
        font-size: 48px;
        margin: 0 0 17px;
    }
    .team-section {
        padding: 65px 0;
    }
    .team-members {
        max-width: 100%;
    }

    .it__content__left_bdr::before {
        left: 0px;
        border-width: 5px;
    }
    .it__content__left_bdr::after {
        height: 24px;
        width: 24px;
        top: -2px;
        left: -10px;
    }
    .it__content__left_bdr {
        margin-left: 22px;
        padding-left: 30px !important;
        padding-right: 20px !important;
        padding-bottom: 30px !important;
    }
    .it__content {
        padding: 0px 0;
    }



    .thc-txr {
        gap: 20px;
    }
    .stp_row {
        --bs-gutter-x: 60px;
    }
    .contact-li-title_l .h2 {
        font-size: 50px;
    }

    .case-card {
        border-bottom: none;
        padding: 0;
        margin-bottom: 40px;
    }
    .case-card .row {
        --bs-gutter-y: 30px;
    }
    .case-card.case-card--hr {
        padding-top: 28px;
    }
    .case-section__title {
        margin-bottom: 60px;
        text-align: center;
        align-items: center;
    }
    .case-section {
        padding: 80px 0;
    }

}


@media (max-width: 768px) {
    .offcanvas-menu .offmenu {
        width: 100%;
        min-width: initial;
    }

    .hero-section .container {
        max-width: 540px;
    }

    .offcanvas-menu .offmenu {
        padding: 60px 18px 40px;
    }

    .hero__image__slider {
        --extra-width: 10px;
        --ex-right-width: 10px;
        margin-top: -17px;
        width: 95%;
    }

    .hero__image__slide .img {
        padding: 0px 15px;
    }

    .hero__tp-row {
        padding: 10px 12px 0;
    }

    .hero__image__slide .side-txt {
        bottom: 0px;
    }

    .hero__content {
        max-width: 440px;
        margin-left: 15px;
    }

    .hero__content .h1 {
        font-size: 48px;
        margin: 0 0 26px;
        letter-spacing: -0.3px;
    }

    .hero__content .h1 .hr-h1-shape {
        width: 25px;
        top: 65px;
        left: 381px;
        position: absolute;
    }

    .hero__content .bottom-buttons .default-button {
        min-width: 200px;
        min-height: 60px;
    }


    .kunan__list__item {
        gap: 11px;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .kunan__list__item__left {
        width: 100%;
        padding-left: 15px;
    }

    .kunan__list__item__left h3 {
        font-size: 32px;
        margin: 0px 0 6px;
    }

    .kunan__list__item__icon {
        width: 70px;
        margin-right: 10px;
    }

    .kunan-section__title {
        margin: 0 0 35px;
    }

    .kunan__list__item {
        padding: 15px 0;
    }

    .kunan__list__item:hover {
        padding: 15px 15px;
    }

    .kunan-section {
        padding: 80px 0;
    }

    .a-img-section {
        padding: 0px 0 50px;
    }


    .good-section__title {
        margin: 0 0 40px;
        text-align: center;
    }

    .h3 {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .good__left__header {
        text-align: center;
        margin: 0 0 26px;
    }

    .good__left__header h3 .shape {
        display: none;
    }

    .good-section {
        padding: 80px 0;
    }

    .good__right__title {
        text-align: center;
    }

    .good__right__title p {
        text-align: left;
    }

    .good-section__row {
        --bs-gutter-x: 40px;
    }

    .p {
        font-size: 16px;
        line-height: 1.4;
        font-weight: 500;
    }

    .good-ul {
        margin-top: 25px;
        font-size: 16px;
    }


    .h2 {
        font-size: 32px;
        margin: 0 0 18px;
    }

    .founder__content-row {
        padding: 40px 0 37px;
    }

    .founder-content {
        padding: 0 23px;
    }

    .founder__auth-row {
        margin-top: 40px;
        padding-right: 0;
    }

    .founder__auth-row__inner {
        justify-content: center;
    }

    .founder-section {
        padding: 35px 0;
    }

    .customer-section {
        padding: 60px 0;
    }

    .customer-section__title {
        margin: 0 0 45px;
    }

    .customer-slide {
        width: 312px;
    }

    .contact-section__title h2 {
        font-size: 40px;
        margin: 0 0 15px;
    }

    .contact-section__title h4 {
        margin: 0 0 35px;
    }

    .contact-button-row {
        gap: 31px;
        flex-direction: column;
    }

    .contact-section__title {
        margin: 0 0 35px;
    }

    .contact-section {
        padding: 55px 0 80px;
    }


    .footer-muskot {
        width: 230px;
    }

    .footer-muskot-area {
        padding: 140px 0 65px;
    }

    .footer-menu {
        flex-direction: column;
        gap: 13px;
        text-align: center;
    }


    .a-images {
        max-width: 375px;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .a-images .background-blk {
        width: 91.5%;
    }

    .a-images .img-1 {
        margin-bottom: 0;
        width: 87.2%;
    }

    .a-images .img-2 {
        width: 50.9%;
        margin-left: auto;
        margin-top: -21.1%;
    }

    .a-images .img-3 {
        margin-bottom: 0;
        width: 77.3%;
        margin-left: 4.25%;
    }

    .a-images .a-badge {
        bottom: 36.5%;
        right: unset;
        width: 31%;
        left: 11.5%;
    }


    .s-hero__content .h2 {
        font-size: 56px;
    }
    .s-hero__image {
        margin-left: -12px;
        padding-right: 25px;
    }
    .s-hero-section .side-text {
        left: calc(100% - 30px);
    }
    .bxn {
        padding: 30px 22px;
    }
    .bxn_left .h4 {
        font-size: 17px;
        text-align: center;
        width: 100%;
    }
    .bxn_left .bottom-button {
        margin-top: 10px !important;
        width: 100%;
        min-width: unset;
    }

    .title-hero__content .h1 {
        font-size: 40px;
        margin: 0 0 18px;
    }
    .thc-txr {
        flex-direction: column;
    }
    .thc-txr .ar-l {
        width: 100%;
    }
    .thc-txr {
        gap: 0;
    }
    .thc-txr .icon {
        width: 50px;
    }
    .title-hero {
        padding: 93px 0 40px;
    }

    .stp-section {
        padding: 50px 0;
    }
    .stp_row {
        --bs-gutter-x: 35px;
    }
    .a-sec-txt {
        margin: 40px 0;
    }

    .contact-li-title {
        flex-direction: column;
        text-align: center;
    }
    .contact-li-title_l .h2 {
        font-size: 40px;
    }
    .contact-li-title_l {
        margin-bottom: 42px;
    }
    .contact-li-title {
        margin-bottom: 30px;
    }


    .service-brands {
        max-width: 215px;
        margin: 0 auto;
    }
    .service-brands .row {
        --bs-gutter-x: 70px;
    }
    .service-brand-section {
        padding: 50px 0;
    }


    
}



@media (max-width: 575px) {

    .hero__content .h1 {
        font-size: 40px;
        margin: 0 0 20px;
        letter-spacing: -0.3px;
    }

    .hero__content h4 {
        font-size: 18px;
        margin: 5px 0 21px;
    }

    .hero__content .bottom-buttons {
        gap: 22px;
    }

    .hero__content .h1 .hr-h1-shape {
        width: 22px;
        top: 71px;
        left: auto;
        right: 0;
    }

    .about-hero__image {
        height: 490px;
    }
    .about-hero__content {
        padding: 40px 10px;
    }
    .about-hero__content .h1 {
        font-size: 48px;
    }
    .about-hero__content .p {
        font-size: 18px;
    }
    .about-hero__content .h1 .spc-1 img {
        bottom: -5px;
    }

    .h2-b {
        font-size: 40px;
    }
    .team-members {
        grid-template-columns: repeat(2,1fr);
    }

}


@media (max-width: 370px) {
    .about-hero__content .h1 {
        font-size: 45px;
    }

    .contact-section__title h2 {
        font-size: 34px;
    }
}