/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@font-face {
  font-family: 'Roobert';
  src: url('webfonts/Roobert-Light.woff') format('woff'),
      url('webfonts/Roobert-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert';
  src: url('webfonts/Roobert-Bold.woff') format('woff'),
      url('webfonts/Roobert-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert';
  src: url('webfonts/Roobert-Heavy.woff') format('woff'),
      url('webfonts/Roobert-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert';
  src: url('webfonts/Roobert-Medium.woff') format('woff'),
      url('webfonts/Roobert-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert';
  src: url('webfonts/Roobert-Regular.woff') format('woff'),
      url('webfonts/Roobert-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert';
  src: url('webfonts/Roobert-SemiBold.woff') format('woff'),
      url('webfonts/Roobert-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


:root {
  --theme__color1: #FF7734;
  --theme__color2: #854FED;
  --roobert: 'Roobert';
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 18px;
  line-height: 1.6;
  background-color: #fff;
  color: #1B102F;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--roobert);
}
a, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1090px;
  }
}




/* header */
.header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-in {
  padding: 15px 0;
}
.header-section__inner {
  display: flex;
  align-items: center;
}
.menu-button {
  font-size: 21px;
  padding-top: 2px;
  line-height: 1;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background: #1B102F;
  border-radius: 50%;
  transition: 0.3s;
}
.menu-button:hover {
  color: #fff;
  background: var(--theme__color2);
}
/* header-end */


/* ---hero-section--- */
.hero-section {
  padding-top: 70px;
  background: #DAE1E9;
}
.hero-section__inner {

}
.hero__top-row {
  align-items: center;
}
.hero__top-row .t-img {

}

.hero__image__slider {
  margin-top: -60px;
  --extra-width: 102px;
  width: calc(100% + var(--extra-width));
  margin-left: calc(var(--extra-width) * -1);
}
.hero__image__slide {
  position: relative;
}
.hero__image__slide .img {
  padding: 0 2px;
}
.hero__image__slide .side-txt {
  font-size: 12px;
  font-weight: 400;
  color: var(--theme__color2);
  position: absolute;
  bottom: 15px;
  left: 0;
  transform: rotate(-90deg) translate(0, 100%);
  transform-origin: 0% 100%;
  width: max-content;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 460px;
}
.hero__content .h1 {
  font-size: 56px;
  margin: 0 0 26px;
  line-height: 1.02;
  letter-spacing: -0.5px;
  font-weight: 700;
  display: inline-block;
  position: relative;
}
.hero__content .h1 .hr-h1-shape {
	width: 45px;
	top: 80px;
	left: 429px;
	position: absolute;
}
.hero__content h4 {
  font-size: 18px;
  line-height: 1.35;
  margin: 0 0 25px;
  font-weight: 500;
}
.hero__content .bottom-buttons {
  display: flex;
  gap: 23px;
  align-items: center;
}
.a-btn {
  font-size: 16px;
  font-weight: 700;
  border-bottom: 2px solid var(--theme__color1);
  transition: 0.3s;
  color: #37383A;
}
.a-btn:hover {
  border-bottom-color: transparent;
}
/* ---hero-section---end */


/* ---offcanvas-css--- */
.offcanvas-close {
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  font-size: 21px;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background: #1B102F;
  border-radius: 50%;
  transition: 0.3s;
  border: 2px solid rgba(255, 255, 255, 0.08);
  padding-top: 2px;
  line-height: 1;
}
.offcanvas-close:hover {
  background: var(--theme__color2);
  color: #fff;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(105%);
  transition: 0.3s;
  display: flex;
  justify-content: flex-end;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
	max-width: 100%;
	min-width: 640px;
	z-index: 5;
	position: relative;
	background: rgba(27, 16, 47, 1);
	height: 100%;
	padding: 70px 105px 40px;
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}

.canv-menu {

}
.canv-menu ul {
  gap: 17px;
  display: flex;
  flex-direction: column;
}
.canv-menu ul li {

}
.canv-menu ul li a {
  line-height: 1.45;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
.canv-menu ul li a:hover {

}
.canv-menu ul li a .m-text {
  font-size: 32px;
  color: #fff;
  transition: 0.3s;
}
.canv-menu ul li a:hover .m-text {
  color: var(--theme__color1);
}
.canv-menu ul li .sm {
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF80;
}
.canv-menu ul li .md {
  font-size: 16px;
  line-height: 1.35;
  font-weight: 500;
  color: #FFFFFFCC;
}
.canv-menu ul li .md a {
  transition: 0.3s;
}
.canv-menu ul li .md a:hover {
  color: var(--theme__color1);
}

.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #864fed91;
  background: rgba(27, 16, 47, 0.8);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */


/* ---common--- */
.h2 {
  font-size: 56px;
  margin: 0 0 20px;
  font-weight: 700;
}
.h3 {
  font-size: 48px;
  margin-bottom: 32px;
  line-height: 1;
}
.h4 {
  font-size: 20px;
}
.p {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  align-items: center;
  text-align: center;
}
.cont-blk .bottom-button {
  margin-top: 30px;
}
/* ---common---end */


/* ---kunan--- */
.kunan-section {
  padding: 108px 0;
}
.kunan-section__inner {

}
.kunan-section__title {
  margin: 0 0 55px;
}

.kunan__list {
  max-width: 854px;
  margin: 0 auto;
}
.kunan__list__item {
  padding: 33px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.078);
  transition: 0.3s;
  border-radius: 3px;
}
.kunan__list__item:hover {
  padding: 33px 32px;
  color: #fff;
  background: var(--theme__color1);
  border-bottom-color: transparent;
}
.kunan__list__item--hov2:hover {
  background: var(--theme__color2);
}
.kunan__list__item--hov3:hover {
  background: #1B102F;
}
.kunan__list__item__left {

}
.kunan__list__item__left h3 {
  font-size: 64px;
  margin: 0 0 4px;
} 
.kunan__list__item__left h5 {
  font-size: 18px;
  font-weight: 500;
}
.kunan__list__item__icon {
  width: 106px;
  flex-shrink: 0;
}
.kunan__list__item__icon svg {
  width: 100%;
}
.kunan__list__item__icon svg [stroke="#1B102F"] {
  transition: 0.3s;
}
.kunan__list__item:hover .kunan__list__item__icon svg [stroke="#1B102F"] {
  stroke: #fff;
}
/* ---kunan---end */


/* ---a-img-section--- */
.a-img-section {
  padding: 107px 0;
}
.a-img-section__inner {
  display: flex;
  justify-content: center;
}

.a-img-img {

}
.a-img-img .img {

}
/* ---a-img-section---end */


/* ---good-section--- */
.good-section {
  padding: 107px 0;
}
.good-section__inner {

}

.good-section__title {
  margin: 0 0 100px;
}

.good-section__row {
  --bs-gutter-x: 35px;
  --bs-gutter-y: var(--bs-gutter-x);
}
.good__left {
  padding-right: 60px;
}
.good__left__header {
  margin: 0 0 35px;
}
.good__left__header h3 {
  position: relative;
  z-index: 1;
}
.good__left__header h3 .shape {
	width: 267px;
	top: 32px;
	left: 345px;
	position: absolute;
	z-index: -1;
}
.good-slider {
  background: #DAE1E9;
  border-radius: 16px;
}
.good-slider .owl-dots {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%,0);
}
.good-slide {

}
.good-slide__content {
  padding: 43px 80px 70px 80px;
  position: relative;
  z-index: 1;
}
.good-slide__content .quote-start {
  top: 50px;
  left: 25px;
  width: 32px !important;
  position: absolute;
}
.good-slide__content .quote-end {
  bottom: 75px;
  right: 25px;
  width: 32px !important;
  position: absolute;
}
.good-slide__content p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
}

.slider-dots-1 .owl-dots {
  display: flex;
  gap: 6px;
  align-items: center;
}
.slider-dots-1 .owl-dot {
  height: 11px;
  width: 11px;
  background: rgba(0, 0, 0, 0.25) !important;
  border-radius: 50%;
  border: 2px solid transparent !important;
  box-sizing: content-box !important;
  background-clip: padding-box !important;
  transition: 0.3s;
}
.slider-dots-1 .owl-dot.active {
  border-color: #1B102F !important;
  background: transparent !important;
  border-width: 2px !important;
}




.good__right {

}
.good__right__title {

}
.good__right p {
  letter-spacing: -0.4px;
}
.good-ul {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
}
.good-ul li {
  padding: 17px 17px 17px 45px;
  border-top: 2px solid rgba(0, 0, 0, 0.08);
  width: 100%;
  position: relative;
}
.good-ul li:last-child {

}
.good-ul li::after {
  font-size: 20px;
  left: 10px;
  content: '\f00c';
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  top: 50%;
  color: var(--theme__color1);
  transform: translate(0,-50%);
  font-weight: 300;
}
/* ---good-section---end */


/* ---founder-section--- */
.founder-section {
  padding: 70px 0;
}
.founder__content-row {
  padding: 72px 0 66px;
  background: #DAE1E9;
  border-left: 8px solid var(--theme__color1);
}
.founder__content-row__inner {

}
.founder-content {

}
.founder-content h2 {

}
.founder-content p {

}

.founder__auth-row {
  margin-top: -107px;
  padding-right: 105px;
}
.founder__auth-row__inner {
  display: flex;
  justify-content: flex-end;
}
.founder__auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.founder__auth__image {
  width: 214px;
  height: 214px;
  margin: 0 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.founder__auth__image .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.founder__auth h5 {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: var(--theme__color2);
}
.founder__auth h5 strong {
  font-size: 14px;
}
/* ---founder-section---end */


/* ---customer-section--- */
.customer-section {
  padding: 100px 0;
}
.customer-section__inner {

}
.customer-section__title {
  margin: 0 0 107px;
}

.cusotmer-slider-outer {

}
.customer-slider {

}
.customer-slider .owl-stage-outer {
  overflow: visible;
}
.customer-slide {
  width: 426px;
}
.customer-card {
  padding-top: 29px;
  border-top: 2px solid #00000014;
}
.customer-card__image {

}
.customer-card__image .img {
  width: 100%;
}
.customer-card__content {
  padding: 28px 0 0;
}
.customer-card__content h3 {
  font-size: 32px;
  margin: 0 0 18px;
  line-height: 1.02;
}
.customer-card__content p {
  color: #666666;
  line-height: 1.25;
  font-weight: 500;
  font-size: 16px;
}
.customer-card__content .bottom-button {
  font-size: 16px;
  margin-top: 3px;
  color: #37383A;
  min-width: initial;
}
.customer-card__content .bottom-button:hover {
  color: #fff;
}
/* ---customer-section---end */


/* ---contact-section--- */
.contact-section {
  padding: 115px 0 210px;
}
.contact-section__inner {

}
.contact-section__title {
  margin: 0 0 100px;
}
.contact-section__title h4 {
  margin: 0 0 40px;
}
.contact-section__title h2 {
  font-size: 80px;
  margin: 0 0 36px;
  line-height: 1.13;
}
.contact-section__title h2 .geen {
  position: relative;
  z-index: 1;
  display: inline-block;
}
.contact-section__title h2 .geen img {
	position: absolute;
	bottom: -12%;
	left: -3%;
	z-index: -1;
  width: 100%;
}
.contact-section__title h2 .account {
  position: relative;
  z-index: 1;
}
.contact-section__title h2 .account img {
  position: absolute;
  width: 98%;
  top: 39.5%;
  left: 1%;
  z-index: -1;
}
.contact-section__title h5 {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
  color: #666666;
}

.contact-button-row {
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-button-row .button {

}

/* ---contact-section---end */


/* ---footer-section--- */
.footer-section {
  background: #DAE1E9;
}
.footer-section__inner {

}

.footer-muskot-area {
  padding: 188px 0 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-muskot {
  width: 298px;
}

.footer-menu {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
}
.footer-menu li {

}
.footer-menu li a {
  font-size: 12px;
  font-weight: 500;
  color: #6D7175;
  transition: 0.3s;
}
.footer-menu li a:hover {
  color: var(--theme__color1);
}
/* ---footer-section---end */


/* ---t-modal--- */
.t-modal {

}
.t-modal .modal-content {
  border-radius: 15px;
  border: none !important;
}
.modal-footer .default-button {
  min-width: 140px;
}
/* ---t-modal---end */